{{define "form_default"}}
    <div class="box box-solid box-default no-margin" style="cursor:not-allowed;background-color:#eee;">
        <div class="box-body" style="min-height: 40px;">
            {{.Value}}
        </div>
    </div>
    <input type="hidden" class="{{.Field}}" name="{{.Field}}" id="input-{{.Field}}" value='{{.Value}}'>
{{end}}