{{define "form_datetime_range"}}
    {{if .Editable}}
        <div class="input-group">
            {{if ne .Label ""}}
                <span class="input-group-addon">{{.Label}}</span>
            {{else}}
                {{if not .NoIcon}}
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                {{end}}
            {{end}} 
            <input type="text" id="{{.Field}}_start_key" name="{{.Field}}_start_key" value="{{.Value}}"
                   class="form-control {{.Field}}_start_key" placeholder="{{.Placeholder}}">
            <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
            <input type="text" id="{{.Field}}_end_key" name="{{.Field}}_end_key" value="{{.Value2}}"
                   class="form-control {{.Field}}_end_key" placeholder="{{.Placeholder}}">
        </div>
        <script>
            $(function () {
                $('input.{{.Field}}_start_key').datetimepicker({{.OptionExt}});
                {{if eq .OptionExt2 ""}}
                    $('input.{{.Field}}_end_key').datetimepicker({{.OptionExt}});
                {{else}}
                    $('input.{{.Field}}_end_key').datetimepicker({{.OptionExt2}});
                {{end}}

                $('input.{{.Field}}_start_key').on("dp.change", function (e) {
                    $('input.{{.Field}}_end_key').data("DateTimePicker").minDate(e.date);
                });
                $('input.{{.Field}}_end_key').on("dp.change", function (e) {
                    $('input.{{.Field}}_start_key').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
    {{else}}
        <div class="box box-solid box-default no-margin" style="cursor:not-allowed;background-color:#eee;">
            <div class="box-body">{{.Value}}</div>
        </div>
        <input type="hidden" class="{{.Field}}" name="{{.Field}}" id="input-{{.Field}}" value='{{.Value}}'>
    {{end}}
{{end}}