{{define "form_select"}}
    <select id="select_single-{{.FieldClass}}" class="form-control {{.FieldClass}} select2-hidden-accessible" style="width: 100%;" name="{{.Field}}[]"
            multiple="" data-placeholder="{{.Placeholder}}" tabindex="-1" aria-hidden="true"
            {{if not .Editable}}disabled="disabled"{{end}}>
        {{range $key, $v := .Options }}
            <option value='{{$v.Value}}' {{attr $v.SelectedLabel}}>{{if ne $v.TextHTML ""}}{{$v.TextHTML}}{{else}}{{$v.Text}}{{end}}</option>
        {{end}}
    </select>
    <script>
        if($("#select_single-{{.FieldClass}}").val()=='' && {{.Default}}){
            $("#select_single-{{.FieldClass}}").val("{{.Default}}").select2({{.OptionExt}});
        }else{
            $("#select_single-{{.FieldClass}}").select2({{.OptionExt}});
        }
    </script>
{{end}}